<div class="wrapper">
  <h1>Products</h1>
  <div>
    <div appTooltip>
      <i class="material-icons">
        list
      </i>
      <span class="tooltip">
        List view
      </span>
    </div>

    <div appTooltip>
      <i appTooltip class="material-icons">
        view_module
      </i>
      <span class="tooltip">
        Grid view
      </span>
    </div>
  </div>

  <ul>
    <li *ngFor="let product of products">
      <img [src]="product.image" [alt]="product.name">
      <div>
        <h3>{{product.name}}</h3>
        <p>{{product.description}}</p>
        <p>{{product.price}}€</p>
        <button>Add to cart</button>
      </div>
    </li>
  </ul>
</div>
