/* General */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: lightgrey;
}

/* Header */
header h1 {
  font-size: 30px;
  font-family: 'Roboto Slab';
  text-align: center;
  color: darkgrey;
}

/* Footer */
footer {
  font-size: 10px;
  color: darkgray;
}

footer p {
  text-align: center;
}

footer p a {
  text-decoration: none;
  color: cadetblue;
}

footer p a:hover {
  text-decoration: underline;
}


/* Miscellanious */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
